In [19]:
import os
import io
from astropy import units as u 
from astropy.coordinates import SkyCoord
from IPython.display import Image, display, clear_output
from IPython.core.display import HTML
from astroquery.cadc import Cadc
from astropy.table import Table as ATable
from astropy.io.votable.tree import VOTableFile, Resource, Table, Field
from astropy.io.votable import from_table, writeto
import pandas as pd
import glue_jupyter as gj
import ipywidgets as widgets
from ipywidgets import interact
from cadcutils import net
from cadctap import CadcTapClient
from six import BytesIO
import base64
import re
from glue import qglue

data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]} 
  
# Create DataFrame 
df = pd.DataFrame(data)
df.set_index('Name', inplace=True)
display(df)

df.reset_index(inplace=True)
display(df)

app = gj.jglue()

out_data = app.load_data(df.to_csv())
display(out_data)

       Age
Name
Tom     20
nick    21
krish   19
jack    18

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

Data (label: ,Name,Age
0,Tom,20
1,nick,21
2,krish,19
3,jack,18
)